* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #63ad72, #74b6cf);
}

.formWrap {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  margin-bottom: 1rem;
  width: 5rem;
  position: relative;
  left: -100px;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.7rem;
}
h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
h1,
h3 {
  color: rgb(32, 75, 54);
}

.formCard {
  width: 500px;
  margin: 5rem 0;
  padding: 1rem 4rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  text-decoration: none;
}
.formControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  border: 1px solid rgba(129, 241, 194, 0.677);
  height: 8rem;
  width: 200px;
  border-radius: 5px;
}
fieldset div {
  text-align: left;
  margin-left: 20px;
}
legend {
  padding: 0 5px;
}

input {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
}
.formControlRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loginBtn {
  color: black;
  background-color: rgba(102, 248, 86, 0.43);
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
}
.loginBtn a {
  font-size: 1rem;
  color: black;
  display: block;
  width: 100%;
}

.focus {
  outline: 1px solid black;
}
.uspesno {
  background-color: #63ad72;
}
.greska {
  background-color: rgba(246, 57, 57, 0.549);
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 0.7rem;
  }
  .formCard {
    width: 100%;
    margin: 5rem 0rem;
    padding: 4rem 1rem;
  }
}
