* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  width: 100vw;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #63ad72, #74b6cf);
  /* background: #63ad72; */
}
.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-color: #63ad72f5;
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 0.2rem 0.2rem rgba(6, 6, 6, 0.273);
  text-transform: uppercase;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  font-weight: bold;
  color: rgb(6, 51, 8);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}
a {
  color: black;
}
nav ul a:hover {
  color: white;
  transition: color 0.5s;
}
.logo img {
  width: 70px;
  height: 70px;
}
/* end of nav */

/* featured section */
section {
  width: 100vw;
}
.featured {
  margin-top: 8rem;
  height: fit-content;
}
.featuredContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #fcfcfc52;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 1000px;
  /* gap: 1rem; */
}
.postThumbnail {
  border-radius: 5rem 5rem;
  border: 0.1rem solid rgba(63, 121, 90, 0);
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  max-height: 330px;
  /* margin-bottom: 1.6rem; */
}

.postThumbnail img {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 330px;
}
.categoryBtn {
  margin: 0;
  background: rgb(81 147 111 / 84%);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}
.categoryBtn:hover {
  color: white;
  transition: color 0.5s;
}
h2 {
  margin: 1rem 0;
}
h2 a {
  font-size: 1.6rem;
}
.postAuthor {
  margin-top: 1.2rem;
}

/* posts section */
.posts {
  margin-top: 2rem;
}
.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 5rem;
}
.posts .postThumbnail {
  margin: 0 auto 2rem;
  /* margin-bottom: 2rem; */
}
.post {
  background-color: #fcfcfc52;
  border-radius: 1rem;
  padding: 1rem;
}
.post:hover,
.featuredContainer:hover {
  box-shadow: 0px 0px 10px 5px rgba(30, 65, 39, 0.75);
  transition: box-shadow 0.5s;
  /* border: 5px solid red; */
}
/* footer */
footer {
  background: #4a7e52;
  padding: 5rem 0 0;
  box-shadow: inset 0 0.5rem 0.5rem rgb(0, 0, 0, 0.1);
}
footer ul li {
  padding: 0.4rem 0;
}
footer h4 {
  margin-bottom: 0.6rem;
}
.footerContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer i {
  font-size: 1.4rem;
}
.footerCopyright {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid black;
  margin-top: 4rem;
}
#hamburger-menu {
  display: none;
}
/* pojedinacni post */
.singlePost {
  margin: 6rem 0 2rem;
}
.singlePostContainer {
  width: 80%;
  /* background: var(--color-gray-900); */
  padding: 1rem 2rem 3rem;
  background-color: #fcfcfc52;
  border-radius: 1rem;
}
.singlePostContainer h2 {
  margin: 2rem 0;
  font-size: 2rem;
  color: #2a4f30;
}
.singlePostContainer ul {
  padding-left: 3rem;
}
.singlePostContainer ul li {
  list-style-type: disc;
}
#htmlSlika1 {
  float: right;
  margin: 0 1rem;
}
#htmlSlika2 {
  float: left;
  margin: 0 1rem;
}
/* dashboard */
.dashboard {
  margin: 6rem 0 2rem;
}
.dashboardContainer {
  width: 70%;
  /* background: var(--color-gray-900); */
  padding: 1rem 2rem 3rem;
  background-color: #fcfcfc52;
  border-radius: 1rem;
}
.dashboardContainer h2 {
  font-size: 2rem;
  color: rgb(3, 64, 3);
  margin-bottom: 2rem;
}
table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin: 0 auto;
}
table thead th {
  padding-bottom: 1rem;
}
table thead tr {
  border: none;
}
table tr td:first-child {
  border-radius: 10px 0px 0px 10px;
}
table tr td:last-child {
  border-radius: 0px 10px 10px 0px;
}
td {
  /* border: 1px solid black; */
  padding: 0.5rem;
}
table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.249);
}
table tbody tr:nth-child(even) {
  background-color: rgba(37, 34, 34, 0.094);
}
table tbody tr:hover {
  background-color: rgba(42, 41, 41, 0.48);
  cursor: pointer;
}
.btnsContainer {
  /* border: 1px solid black; */
  margin-bottom: 1rem;
  /* margin-left: 3rem; */
}
.btnsContainer button {
  border: none;
  border-radius: 1rem;
  padding: 0.8rem;
  background-color: rgba(210, 207, 207, 0.49);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
#deletePost {
  background-color: rgba(216, 55, 55, 0.489);
}
#deletePost:hover {
  background-color: white;
}
.btnsContainer button:hover {
  background-color: rgba(7, 46, 11, 0.564);
}
.selectRow {
  color: rgb(249, 249, 249);
}
/* search bar */
.searchBarContainer {
  margin-top: 2rem;
  width: 30rem;
  background-color: #fcfcfc52;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  color: black;
}
.searchBarContainer > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.searchBarContainer input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  width: 100%;
}
#searchBtn {
  border: none;
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: rgb(81 147 111 / 84%);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease;
  color: rgb(6, 51, 8);
}
#searchBtn:hover {
  color: white;
}
/* za srednje uredjaje */
@media screen and (max-width: 1150px) {
  .container {
    width: 88%;
  }
  .featuredContainer {
    gap: 3rem;
  }
  .postsContainer {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .posts .postThumbnail {
    margin: 0 auto;
  }
  nav {
    position: relative;
  }
  .navItems {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }
  .navItems li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    /* box-shadow: -2rem 3rem 7rem rgb(0 0 0 / 70%); */
    background-color: #63ad72f5;
    border-top: 1px solid green;
  }
  .navItems li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    /* background: green; */
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
  /* #closeNav {
    display: none;
  }
  nav button {
    display: inline-block;
    background: transparent;
    color: rgb(20, 59, 18);
    cursor: pointer;
    border: none;
  }
  nav button i {
    font-size: 2rem;
  } */
  #hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .bar {
    background-color: rgb(29, 83, 24);
    height: 3px;
    width: 2rem;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
  }
  .topBar {
    transform: rotate(45deg);
    position: absolute;
  }
  .middleBar {
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }
  .bottomBar {
    transform: rotate(-45deg);
    position: absolute;
  }
  .displayBlock {
    /* display: block; */
    visibility: visible;
    opacity: 1;
  }
  #htmlSlika1,
  #htmlSlika2 {
    margin: 0 1rem;
    /* float: none; */
    width: 250px;
    height: 250px;
  }
  /* search bar */
  .searchBarContainer {
    max-width: 30rem;
  }
}
/* za manje uredjaje */
@media screen and (max-width: 600px) {
  .featuredContainer {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .postsContainer {
    grid-template-columns: 1fr;
  }
  .posts .postThumbnail {
    margin: 0 auto;
  }
  .categoryBtn {
    margin-top: 0.5rem;
  }
  .footerContainer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  footer h4 {
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  footer article {
    margin-bottom: 1rem;
  }
  .singlePostContainer {
    width: 98%;
  }
  #htmlSlika1,
  #htmlSlika2 {
    display: block;
    margin: 0 auto 1rem;
    float: none;
    width: 320px;
    height: 320px;
  }
  .dashboardContainer {
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0.5rem 3rem;
  }
}
