* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
}

body {
  width: 100vw;
  height: 100vh;
  /* background: rgb(4, 110, 244);
  background: linear-gradient(90deg, rgba(4, 110, 244, 1) 26%, rgba(78, 215, 242, 1) 100%); */
  background: linear-gradient(to right, #63ad72, #74b6cf);
}

.formWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  margin-bottom: 2rem;
  width: 5rem;
  position: relative;
  left: -100px;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 2rem;
}

.formCard {
  width: 500px;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

a {
  text-decoration: none;
}
.formControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  border-radius: 100px;
}
input[type="submit"] {
  background-color: rgba(102, 248, 86, 0.43);
  cursor: pointer;
}
.loginBtn {
  color: black;
  background-color: rgba(102, 248, 86, 0.43);
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 100px;
}
.loginBtn a {
  font-size: 1rem;
  color: black;
  display: block;
  width: 100%;
}

.focus {
  outline: 1px solid black;
}
.uspesno {
  background-color: #63ad72;
}
.greska {
  background-color: rgba(246, 57, 57, 0.549);
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 0.7rem;
  }
  .formCard {
    margin: 0 1rem;
    padding: 4rem 1rem;
  }
}
